html, body { width: 100%; height: 100%; font-family: Helvetica; font-weight: bold; }

/*#v { display: none; }*/

#images { width: 500px; height: 500px; overflow: hidden; }
#images .thumb { width: 100px; height: 100px; position: relative; float: left; }
#image .thumb img { position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; display: block; }